
@{
    Layout = null;
}

@model WebApplication1.Models.Account

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using(Html.BeginForm("Register", "Account", FormMethod.Post))
    {
    <table>
        <tr>
            <td>Username</td>
            <td>
                @Html.TextBoxFor(model => model.username)
            </td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>
                @Html.TextBoxFor(model => model.fullName)
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                @Html.PasswordFor(model => model.password)
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
    }
</body>
</html>
